:root {
    --color-1: rgb(4, 4, 145);
    --color-2: rgb(190, 160, 214);
    --color-3: rgb(27, 107, 182);
}


body {
    background-image: url("./assets/white2.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.page-title {
    display: block;
    text-align: left;
}

.text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    padding-top: 50px;
    letter-spacing: 2px;
    /* color: white; */
        /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */



    /* Turn on for moving background image in text */ 
    text-transform: uppercase;
    margin: 0;
    background-image: url(./assets/blue-oil-paint-strokes-textured_53876-96059.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

.text2 {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
    /* color: white;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
    text-transform: uppercase;
    margin: 0;
    background-image: url(./assets/blue-oil-paint-strokes-textured_53876-96059.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

/* Applies to nav buttons */
.btn {
    background-color: transparent;
    color: white;
    margin-left: 5px;
}

.btn :hover {
    background-color: var(--color-1);
}

/* Applies to about me section and headshot */
#headshot {
    height: 300px;
    margin-left: 30px;
}

.mainPageArt {
    height: 500px;
}

.art-container {
    display: flex;
    justify-content: center;
}