:root {
    --color-1: rgb(4, 4, 145);
    --color-2: rgb(190, 160, 214);
    --color-3: rgb(89, 168, 192);
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/white2.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    background-image: url(./assets/colorful-liquid-marble-background-abstract-flowing-texture-experimental-art_53876-104553.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

.text2 {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    background-image: url(./assets/colorful-liquid-marble-background-abstract-flowing-texture-experimental-art_53876-104553.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

/* Applies to nav buttons */
.btn {
    background-color: transparent;
    color: white;
    margin-left: 5px;
    outline: 2px solid var(--color-1); 
}

.btn:hover {
    background-color: var(--color-1); 
}

/* Applies to about me section and headshot */
#headshot {
    height: 300px;
    margin-left: 30px;
}

.mainPageArt {
    height: 500px;
}

#arrow-btn {
    font-size: 24px;
    margin-top: 300px; /* Add some space between the text and the button */
    width: 60px; /* Adjust the width and height to create a circle */
    height: 60px;
    border-radius: 50%; /* Makes the button circular */
    background-color: var(--color-3); /* Add a background color to the button */
    color: white; /* Add a color to the arrow icon */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Optional - to remove the default button border */
    outline: none; /* Optional - to remove the focus outline when clicked */
}

#arrow-btn:hover,
#arrow-btn:focus {
    background-color: var(--color-1);
    /* Add different colors or effects when the button is hovered or focused */
}








.art-container {
    background-image: url('./assets/graybackground.avif');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    position: relative;
    
}

/* .art-container .col-lg-3 {
    height: 300px; 
} */


.art-container img {
    width: 15vh;
    height: 35vh;
    object-fit: cover;
    padding: 10px;
}

/* Applies to gallery section and "shop originals text" */
.shop-originals-overlay {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element itself */
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Slightly transparent white background */
    text-align: center; /* Center the text horizontally */
}

.shop-originals-overlay h2 {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    padding: 20px;
}

.white-moving-bg {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    background-image: url(./assets/blacknavyink.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

/* About Me Section */

.aboutMeText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    background-image: url('./assets/marble.avif');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

.AboutMeSection {
    background-image: url('./assets/marble.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
